body {
  background-color: #628678;
  font-family: Rockwell;
}
.logo_heading {
  font-size: 50px;
  background-image: linear-gradient(to top, #800202, #3c2043);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
.logo {
  height: 50px;

  position: absolute;
  margin-top: 10px;

  animation: move_logo;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move_logo {
  0% {
    top: 0;
    left: 50px;
  }
  100% {
    top: 0;
    left: 200px;
  }
}

.navigation {
  text-align: right;
  margin-top: 30px;
}
.navigation a {
  padding: 10px 0 10px 0;
  text-decoration: none;
  font-size: 22px;
  text-transform: capitalize;
  margin-right: 30px;
  color: #ddd6f3;

  transition: 2s color;
}

a:hover {
  color: #800202;
}

.slider {
  height: 620px;
  width: 100%;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;

  animation-name: movingslider;
  animation-duration: 8s;
  animation-delay: 1s;

  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movingslider {
  0% {
    background-image: url(../img/oldtimer.jpg);
  }
  50% {
    background-image: url(../img/buik.jpg);
  }
  100% {
    background-image: url(../img/amg.jpg);
  }
}
.slider_text {
  color: #ddd6f3;
  font-size: 52px;
  font-weight: 800;
  margin: 40px 0 0 30px;
  /* text-align: center; */
  text-transform: capitalize;
}
.rememberable_text {
  color: #800202;
  position: absolute;

  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes rotate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
